[package]
name = "swc-intl-message-transformer"
description = ""
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
intl_message_utils = { workspace = true }
serde = "1"
serde_json = "1"
# This version is roughly tied to our rspack version: https://swc.rs/docs/plugin/selecting-swc-core
swc_core = { workspace = true, features = ["ecma_plugin_transform"] }