name: Build intl-message-database

on:
  workflow_call:
    inputs:
      target:
        description: "Platform package name that maps to a Rust target triple."
        required: true
        type: string
      runner:
        description: "Which os/version to run this workflow on."
        required: true
        type: string
      ref:
        description: "Git reference to checkout."
        required: false
        type: string
      publish:
        required: true
        description: "Whether this build should get published to npm."
        type: boolean

env:
  # This should ensure that the mac packages are allowed to run on all
  # supported macOS versions.
  MACOSX_DEPLOYMENT_TARGET: "10.13"
  DEBUG: "napi:*"
  XWIN_CACHE_DIR: ${{ github.workspace }}/.xwin

jobs:
  build:
    name: Build intl-message-database
    runs-on: ${{ inputs.runner }}
    defaults:
      run:
        shell: bash
    outputs:
      runner-labels: ${{ steps.upload-artifact.outputs.runner-labels || inputs.runner }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Build Env
        uses: ./.github/actions/setup-build-env
        with:
          ref: ${{ inputs.ref }}
          runner: ${{ inputs.runner }}
          target: ${{ inputs.target }}

      - name: Build @discord/intl-message-database-${{inputs.target}}
        run: |
          pnpm intl-cli db build --target ${{inputs.target}}

      - name: Upload artifact
        id: upload-artifact
        uses: actions/upload-artifact@v4
        with:
          name: intl-message-database.${{inputs.target}}.node
          path: intl_message_database/npm/${{inputs.target}}/intl-message-database.${{inputs.target}}.node
          if-no-files-found: error
